<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Coincidence</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Query 2: Coincidence</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
<div class="jumbotron text-center">
    <h1>Query 2: Coincidence</h1>
    <p>Find the coincidence: Given a query by the user,
        where the input is two actors/actresses names,
        the application replies with a list of movies or
        TV shows that both people have shared.</p>
</div>

<div class="inner-wrapper">
    <form action="/CoincidenceViewResults">
        Actor/Actress names: <br>
        <br>
        <input type="text" name="name1" value="">
        <input type="text" name="name2" value="">
        <br>
        <br>
        <input type="Submit">
    </form>
</div>

</body>
</html>