<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Typecasting</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
<div class="jumbotron text-center">
    <h1>Query 1: Typecasting</h1>
    <p>Typecasting: Given a query by the user, where he/she provides an actor/actress name,
        the system should determine if that person has become typecasted (at least half of their work is one genre).</p>
</div>

<div class="inner-wrapper">
    <form action="/TypecastingResultsView">
         Name Actor/Actress:
        <br>
        <input type="text" name="name" value="">
        <br>
        <br>
        <input type="Submit">
    </form>
</div>
</body>
</html>
